<div>
  <div class="row">
    <div class="container mt-4">
      <form (ngSubmit)="guardarDatos()" #formulario="ngForm">

        <div class="form-group">
          <label for="nombre" class="text-primary">Nombre:</label>
          <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required
            pattern="[a-zA-Z\s]+" />
        </div>

        <div class="form-group">
          <label for="email" class="text-primary">Email:</label>
          <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" required />
        </div>

        <div class="form-group">
          <label for="edad" class="text-primary">Edad:</label>
          <input type="number" class="form-control" id="edad" name="edad" [(ngModel)]="edad" required min="1"
            max="120" />
        </div>

        <div class="form-group">
          <label for="genero" class="text-primary">Género:</label>
          <select class="form-control" id="genero" name="genero" [(ngModel)]="genero" required>
            <option value="M">Masculino</option>
            <option value="F">Femenino</option>
          </select>
        </div>

        <button type="submit" class="btn btn-primary">Enviar</button>

      </form>
    </div>


  </div>

  <div class="row">
    <div class="row mt-4">
      <div class="container">
        <table class="table table-striped table-bordered">
          <thead class="table-dark">
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Edad</th>
              <th scope="col">Email</th>
              <th scope="col">Género</th>
              <th scope="col">Acciones</th> <!-- Nueva columna para acciones -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let usuario of usuarios">
              <td>{{ usuario.name }}</td>
              <td>{{ usuario.age }}</td>
              <td>{{ usuario.email }}</td>
              <td>{{ usuario.gender }}</td>
              <td>
                <button class="btn btn-primary btn-sm" (click)="abrirModal(usuario._id, usuario.name, usuario.email, usuario.age, usuario.gender)">Editar</button>
                <button class="btn btn-danger btn-sm" (click)="eliminarUsuario(usuario._id)">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>


<!-- Modal para editar usuario -->
<div class="modal fade" id="editarUsuarioModal" tabindex="-1" role="dialog" aria-labelledby="editarUsuarioModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editarUsuarioModalLabel">Editar Usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Formulario para editar usuario -->
        <form (ngSubmit)="editarUsuario()" #formularioEditar="ngForm">
          <div class="form-group">
            <label for="nombreEditar">Nombre:</label>
            <input type="text" class="form-control" id="nombreEditar" name="nombreEditar" [(ngModel)]="nombreEditar" required pattern="[a-zA-Z\s]+" />
          </div>

          <div class="form-group">
            <label for="emailEditar">Email:</label>
            <input type="email" class="form-control" id="emailEditar" name="emailEditar" [(ngModel)]="emailEditar" required />
          </div>

          <div class="form-group">
            <label for="edadEditar">Edad:</label>
            <input type="number" class="form-control" id="edadEditar" name="edadEditar" [(ngModel)]="edadEditar" required min="1" max="120" />
          </div>

          <div class="form-group">
            <label for="generoEditar">Género:</label>
            <select class="form-control" id="generoEditar" name="generoEditar" [(ngModel)]="generoEditar" required>
              <option value="M">Masculino</option>
              <option value="F">Femenino</option>
            </select>
          </div>

          <button type="submit" class="btn btn-primary">Guardar Cambios</button>
          <button type="button" class="btn btn-secondary" (click)="cancelarEdicion()">Cancelar</button>
        </form>
      </div>
    </div>
  </div>
</div>